* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    display: flex;
    justify-content: center;
    align-items: center;
    /* wrote declarations display, justify and align.*/

}

.grid {
    background-color: #abb;
    display: grid;
    place-items: center;
    /* entered declarations display, place-items */

}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    /* wrote declarations display, flex-wrap, justify-content */

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* wrote declarations display, grid-template-columns */

}

.columns-3 {
    grid-column: span 3;
    /* wrote declaration grid-column */

}

.three {
    margin: .25rem;
    background-color: #abd;
}